// color vars =================================================================

$main-color: #f4f5f9;
$txt-color: #999999;
$intro-txt-color: #cbc6c0;
$hover-color: #e74c3c; // also active color//
$title-color: #6a6a6a;

$white: #ffffff;