// font-size vars =================================================================

$txt-size: 14px;
$txt-smaller-size: 12px;
$intro-title-size: 72px;
$big-title-size: 36px;
$btn-size: 14px;
$title-size: 24px;
$info-title-size: 18px;
$stat-count-size: 30px;
$stat-txt-size: 18px;
$blog-txt-size: 16px;
$blog-btn-size: 18px;