// ==================================================================
// ========================buttons style=============================
// ==================================================================

.btn {
    padding: 13px 35px 15px 34px;
    display: flex;
    align-items: center;
    background: $main-color;
    border-radius: 5px;
    font-family: $main-font;
    font-weight: $medium;
    font-size: $btn-size;
    line-height: 1.35;
    text-align: center;
    color: $white;
    align-self: center;

    p {
        font-family: $main-font;
        font-weight: $medium;
        font-size: $btn-size;
        line-height: 1.35;
        text-align: center;
        color: $white;
        margin-right: 10px;
    }

    img {
        height: 16px;
    }

    &--big {
        padding: 16px 33px 20px;

        @media (max-width: 500px) {
            font-size: 14px;
            padding: 12px 30px;
        }

    }
    
    &:hover {
        background: darken($main-color, 5%);
    }
}

button[type=submit]:focus {
    outline: none;
}