//--------------------------------------------------------------
// Variables for color
//--------------------------------------------------------------

// black & white
//----------------------------
$black: #000000;
$white: #ffffff;

// general
//----------------------------
$main-color: #0ed193;
$bg-rg-color: radial-gradient(70% 380% at 6% 10%, #0a2e37 36%, #000000 100%);

// benefits item bg
//----------------------------
$bf-item-color: #F0F5F6;

// partners bg
//----------------------------
$partners-bg-color: #E5E5E5;