//--------------------------------------------------------------
// Font sizes
//--------------------------------------------------------------

//btn
//--------------------------------------
$btn-size: 15px;

//general
//--------------------------------------
$title-size: 35px;
$txt-size: 13px;

//header
//--------------------------------------
$nav-link-size: 14px;
$burger-link-size: 16px;

//intro
//--------------------------------------
$intro-title-size: 75px;
$intro-nav-size: 16px;
$intro-txt-size: 19px;

//benefits
//--------------------------------------
$bf-title-size: 25px;

//stages
//--------------------------------------
$stage-txt-size: 15px;

//calculate
//--------------------------------------
$calc-sum-size: 25px;


