//--------------------------------------------------------------
// Font sizes
//--------------------------------------------------------------

//btn
//--------------------------------------
$btn-size: 15px;

//general
//--------------------------------------
$title-size: 35px;
$txt-size: 13px;

//header
//--------------------------------------
$nav-link-size: 14px;
$burger-link-size: 16px;

//intro
//--------------------------------------
$intro-title-size: 75px;
$intro-nav-size: 16px;
$intro-txt-size: 19px;

//benefits
//--------------------------------------
$bf-title-size: 25px;

//multi-step-form
//--------------------------------------
$stage-txt-size: 15px;

//calculate
//--------------------------------------
$calc-sum-size: 25px;

//sign form
//--------------------------------------
$sign-input-size: 18px;
$sign-label-size: 16px;
$sign-sm-label-size: 13px;
$sign-title-size: 28px;
$sign-link-size: 13px;
$reset-size: 15px;
