//--------------------------------------------------------------
// Variables for font weight
//--------------------------------------------------------------

$main-font: 'Red Ring', sans-serif;

$light:      300;
$normal:     400;
$medium:     500;