// ==================================================================
// =========================about-us style==========================
// ==================================================================

.about-us {
    display: flex;
    min-height: 420px;
    background: $bg-rg-color;

    &-video {
        width: 50%;
        position: relative;
        display: block;
        margin: auto 0;

        .video-wrapper {
            position: relative;
            z-index: 1;
            //overflow: hidden;

            &:before {
                content: "";
                display: block;
                padding-top: 56.25%;
            }

            iframe,
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            video {
                object-fit: cover;
                outline: none;
            }

            .big-play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 0;

                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                opacity: 1;

                svg {
                    display: block;
                    width: 60px;
                    height: 60px;
                    fill: $white;
                }

                &.active {

                    + .video-controls {
                        transform: translateY(calc(100% - 6px));
                        transition: .3s;
                    }
                }
            }

            .video-controls {
                width: 100%;
                position: absolute;
                bottom: 0;
                background: rgba($black, .4);

                transform: translateY(100%);

                transition: .3s;

                .progress-bar {
                    width: 100%;
                    height: 6px;
                    top: 0;
                    left: 0;
                    background: rgba($black, .3);

                    div {
                        height: 100%;
                        width: 0;
                        background: $main-color;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

                .video-buttons {
                    padding: 10px;

                    #play-pause {
                        display: block;
                        width: 30px;
                        height: 30px;
                        padding: 0;
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        svg {
                            display: block;
                            width: 100%;
                            height: 100%;
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    &-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $main-color;

        padding: 20px 173px 20px 120px;

        h3 {
            font-family: $main-font;
            font-weight: $medium;
            font-size: $title-size;
            line-height: 1.35;

            color: $white;

            margin-bottom: 15px;

            @media (min-width: 1920px) {
                font-size: 40px;
            }
        }

        p {
            font-family: $main-font;
            font-weight: $normal;
            font-size: $txt-size;
            line-height: 1.31;

            color: $white;

            margin-bottom: 15px;

            @media (min-width: 1920px) {
                font-size: 15px;
            }
        }
    }
}