// ==================================================================
// =========================about-us style==========================
// ==================================================================

.about-us {
    display: flex;
    min-height: 420px;
    background: $bg-rg-color;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
    }

    &-video {
        width: 50%;
        position: relative;
        display: block;
        margin: auto 0;

        @media (max-width: 1024px) {
            width: 100%;
            padding: 10px;
            background: #ccc;
            border: 1px solid rgba($black, .1);

            @media (max-width: 425px) {
                padding: 5px;
            }
        }

        .video-wrapper {
            position: relative;
            z-index: 1;
            overflow: hidden;

            @media (max-width: 1024px) {
                border-radius: 15px;
                border: 1px solid rgba($black, .1);
            }

            &:before {
                content: "";
                display: block;
                padding-top: 56.25%;
            }

            iframe,
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            video {
                object-fit: cover;
                outline: none;
            }

            .big-play-button {
                position: absolute;
                //top: 0;
                //left: 0;
                z-index: 5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                display: flex;
                align-items: center;
                justify-content: center;
                //width: 100%;
                //height: 100%;
                width: 60px;
                height: 60px;
                padding: 0;

                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                opacity: 1;
                transition: .5s;

                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    fill: $white;

                    @media (max-width: 425px) {
                        width: 40px;
                        height: 40px;
                    }

                    @media (max-width: 320px) {
                        width: 30px;
                        height: 30px;
                    }
                }

                &.active {

                    + .video-controls {
                        transform: translateY(calc(100% - 6px));
                        transition: .3s;
                    }
                }
            }

            .video-controls {
                width: 100%;
                position: absolute;
                bottom: 0;
                background: rgba($black, .4);
                z-index: 100;

                //transform: translateY(100%);

                transition: .3s;

                @media (max-width: 1024px) {
                    transform: translateY(0);
                    //pointer-events: none;
                }

                .video-progress {
                    height: 8px;
                    display: flex;
                    flex-direction: column;

                    position: relative;

                    #video-progress-bar {
                        height: 100%;

                        &::-webkit-progress-bar,
                        &::-webkit-progress-value {
                            display: block;
                            width: 100%;
                            height: 4px;
                            border-radius: 8px;
                        }

                        &::-webkit-progress-bar {
                            background: rgba($black, .4);
                        }

                        &::-webkit-progress-value {
                            background: $main-color;
                        }
                    }

                    #seek {
                        position: absolute;
                        top: -9px;
                        left: -2px;

                        &:hover {
                            &::-webkit-slider-thumb {
                                opacity: 1;
                                transition: .3s;
                            }

                            + #seek-tooltip {
                                opacity: 1;
                            }
                        }

                        &::-webkit-slider-thumb {
                            display: block;
                            width: 15px;
                            height: 15px;
                            background: $main-color;
                            border-radius: 50%;
                            cursor: pointer;
                            transform: translateY(1px);

                            opacity: 0;
                            transition: .3s;
                        }

                        &::-webkit-slider-runnable-track {
                            display: block;
                            width: 100%;
                            height: 10px;
                            background: transparent;
                            cursor: pointer;
                            border-radius: 5px;
                        }
                    }

                    #seek-tooltip {
                        display: flex;
                        width: 40px;

                        position: absolute;
                        top: -25px;
                        left: 0;

                        font-family: $main-font;
                        font-weight: $normal;
                        font-size: 14px;
                        line-height: 1;

                        color: $white;

                        opacity: 0;
                    }
                }

                .video-buttons {
                    display: flex;
                    padding: 10px;

                    @media (max-width: 425px) {
                        padding: 7px;
                    }

                    #play-pause {
                        display: block;
                        width: 30px;
                        height: 30px;
                        padding: 0;
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        @media (max-width: 425px) {
                            width: 20px;
                            height: 20px;
                        }

                        @media (max-width: 320px) {
                            width: 18px;
                            height: 18px;
                        }

                        svg {
                            display: block;
                            width: 100%;
                            height: 100%;
                            fill: $white;
                        }
                    }

                    #play-pause {
                        margin-right: 15px;
                    }

                    .volume-controls {
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        &:hover {
                            transition: .3s;

                            .volume-progress {
                                width: 80px;
                                transition: .3s;

                                #volume {
                                    opacity: 1;
                                    transition: .3s;
                                }
                            }
                        }

                        #volume-mute {
                            margin-right: 10px;

                            display: block;
                            width: 30px;
                            height: 30px;
                            padding: 0;
                            background: none;
                            border: none;
                            outline: none;
                            cursor: pointer;

                            svg {
                                display: block;
                                width: 100%;
                                height: 100%;
                                fill: $white;
                            }
                        }

                        .volume-progress {
                            width: 0;
                            height: 100%;
                            position: relative;
                            transition: .3s;

                            #volume-progress-bar {
                                height: 5px;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);

                                &::-webkit-progress-bar,
                                &::-webkit-progress-value {
                                    display: block;
                                    width: 80px;
                                    height: 5px;
                                    border-radius: 5px;
                                }

                                &::-webkit-progress-bar {
                                    background: rgba($black, .4);
                                }

                                &::-webkit-progress-value {
                                    background: $main-color;
                                }
                            }

                            #volume {
                                position: absolute;
                                left: -2px;
                                top: 6px;
                                opacity: 0;
                                transition: .3s;

                                &::-webkit-slider-thumb {
                                    display: block;
                                    width: 12px;
                                    height: 12px;
                                    background: $main-color;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    transform: translateY(1px);
                                }

                                &::-webkit-slider-runnable-track {
                                    display: block;
                                    width: 80px;
                                    height: 15px;
                                    background: transparent;
                                    cursor: pointer;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }

                .video-time {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;

                    time,
                    span {
                        font-family: $main-font;
                        font-weight: $normal;
                        font-size: 14px;
                        line-height: 1;

                        color: $white;
                    }
                }
            }
        }
    }

    &-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $main-color;

        padding: 20px 173px 20px 120px;

        @media (max-width: 1024px) {
            width: 100%;
            padding: 20px 80px;
            align-items: center;
            text-align: center;
        }

        @media (max-width: 600px) {
            padding: 20px 30px;
        }

        @media (max-width: 425px) {
            padding: 15px;
        }

        h3 {
            font-family: $main-font;
            font-weight: $medium;
            font-size: $title-size;
            line-height: 1.35;

            color: $white;

            margin-bottom: 15px;

            @media (min-width: 1920px) {
                font-size: 40px;
            }

            @media (max-width: 425px) {
                font-size: 25px;
            }
        }

        p {
            font-family: $main-font;
            font-weight: $normal;
            font-size: $txt-size;
            line-height: 1.31;

            color: $white;

            margin-bottom: 15px;

            @media (min-width: 1920px) {
                font-size: 15px;
            }

            @media (max-width: 425px) {
                font-size: 12px;
            }
        }
    }
}