// ==================================================================
// =========================title style=============================
// ==================================================================

.general-title {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;

    h2 {
        font-family: $main-font;
        font-weight: $medium;
        font-size: $title-size;
        line-height: 1.35;

        color: $black;

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 600px) {
            font-size: 27px;
        }

        @media (max-width: 425px) {
            font-size: 25px;
        }
    }

    &--white {

        h2 {
            color: $white;
        }
    }
}