.about {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.about__inner {
    width: 33.3333%;
    padding: 0 15px;
}

.about__item {
    background-color: #95e1d3;
    position: relative;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0)
}

.about__item:hover .about__img img {
    opacity: .2;
}

.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .3s linear;
}

.about__img img {
    display: block;
    width: 100%;
    transition: opacity .3s linear;
    object-fit: cover;
}

.about__icon {
    fill: #fff;
    height: 25px;
    width: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, -100%, 0);
    opacity: 0;
    transition: opacity .3s linear;
}

.about__content {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}


.about__txt {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: opacity .3s linear;
}

.about__item:hover .about__icon {
    opacity: 1;
}

.about__item:hover .about__txt {
    opacity: 1;
}

/*  MEDIA ========================================================  */

@media screen and (min-width: 2000px) {

    .about__icon {
        height: 32px;
        width: 40px;
    }

    .about__txt {
        font-size: 22px;
    }
}

@media (max-width: 1024px) {

    .about {
        margin: 0 -10px;
    }

    .about__inner {
        padding: 0 10px;
    }

    .about__icon {
        height: 22px;
        width: 30px;
    }

    .about__txt {
        font-size: 15px;
    }
}

@media (max-width: 900px) {

    .about {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .about__inner {
        width: 50%;
        margin-bottom: 20px;
    }

    .about__inner:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {

    .section--about {
        padding: 50px 0;
    }

    .about {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .about__inner {
        width: 50%;
        margin-bottom: 15px;
    }

    .about__inner:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 425px) {

    .section--about {
        padding: 35px 0;
    }

    .section__txt--about {
        margin-bottom: 40px;
    }

    .about__inner {
        width: 100%;
        margin-bottom: 5px;
    }
}



