/* HEADER ======================================================= */

/* HEADER NAV ==================================================== */

.nav.active {
    display: flex;
}

.header {
    background: url("../img/header-bg.jpg") center no-repeat;
    background-size: cover;
}

.header.active {
    padding-top: 90px;
}

.header__inner {
    display: flex;
    flex-direction: column;
}

.header__nav {
    display: flex;
    padding: 26.5px 0;
    align-items: center;
    justify-content: space-between;
}

.header__nav__fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 1000;
    animation-name: show__header;
    animation-duration: .8s;
}

@keyframes show__header {
    0% {
        opacity: 0;
        top: -100px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.header__nav__fixed .menu__wrapper .header__link::before {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

.header__nav__fixed .menu__wrapper .header__link::after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.header__nav__fixed .menu__wrapper .header__link:hover {
    color: #000;
}

.header__nav__fixed .menu__icon .icon__item .header__icon:hover {
    fill: #000;
}

.header__nav__fixed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150vw;
    background: #95e1d3;
    z-index: -1;
}

.menu__toggle.active .header__nav__fixed {
    display: none;
}

.main__logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.menu__toggle {
    display: none;
    cursor: pointer;
    z-index: 1000;
    border: none;
    width: 35px;
    height: 25px;
    position: relative;
    background: none;
}

.menu__toggle .top,
.menu__toggle .middle,
.menu__toggle .bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .8s;
}

.menu__toggle .top {
    top: 0;
}

.menu__toggle .middle {
    top: 50%;
    transform: translateY(-50%);
}

.menu__toggle .bottom {
    top: 100%;
}

.menu__toggle.active .top,
.menu__toggle.active .bottom {
    top: 50%;
    transform: rotate(45deg);
    transition: all .8s;
}

.menu__toggle.active .middle {
    transform: translateY(-50%) rotate(-45deg);
    transition: all .8s;
}

.nav {
    display: flex;
}

.menu__wrapper__toggle {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 60px;
    align-items: center;
    left: -100%;
    top: 0;
    width: 40%;
    height: 100%;
    background: #95e1d3;
    padding: 20px;
    border: 1px solid #fff;
    transition: all .8s;
}

nav.active .menu__wrapper__toggle {
    display: flex;
    padding-top: 40px;
    padding-left: 20px;
    left: 0;
    top: 0;
    transition: all .8s;
}

.header__link__toggle {
    background: linear-gradient(to bottom, rgba(243, 129, 129, 1), rgba(252, 227, 138, 1));
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 40px;
    border: 2px solid #fff;
    margin: 10px 0;
    text-transform: uppercase;
}

.header__link {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.header__link:first-child {
    margin-left: 0;
}

.header__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-top: 2px solid #95e1d3;
    border-left: 2px solid #95e1d3;
    left: 0;
    top: 0;
    transition: .4s;
    opacity: 0;
}

.header__link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-bottom: 2px solid #95e1d3;
    border-right: 2px solid #95e1d3;
    right: 0;
    bottom: 0;
    transition: .4s;
    opacity: 0;
}

.header__link:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.header__link:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.header__link:hover {
    color: #95e1d3;
}

.header__icon {
    height: 16px;
    width: 16px;
    fill: #fff;
}

.menu__icon {
    display: flex;
    align-items: center;
}

.icon__item {
    margin-left: 30px;
}

.header__icon:hover {
    fill: #95e1d3;
}

.header__icon__txt {
    display: none;
}


/* HEADER INTRO =================================================== */

.header__intro {
    padding: 135px 0 150px;
    text-align: center;
}

.intro__overtitle {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 50px;
}

.intro__title {
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    line-height: 1;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 50px;
    margin-bottom: 50px;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto 0;
}

/* HEADER FOOTER ================================================== */

.header__footer {
    display: flex;
    justify-content: space-between;
}

.hd__footer__item {
    width: 23%;
    padding: 21.5px 0;
    display: flex;
    align-items: center;
    border-top: 3px solid rgba(255, 255, 255, .5);
    position: relative;
    opacity: .7;
}

.hd__footer__txt {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.hd__footer__item.active {
    opacity: 1;
}

.hd__footer__num {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-right: 2px;
}

.hd__footer__item.active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    height: 3px;
    background: #f38181;
    width: 100%;
    transition: width .4s;
}


/*  HEADER========================================================  */

@media screen and (min-width: 2000px) {

    .container {
        min-width: 1800px;
    }

    .header__nav__fixed {
        max-width: 1800px
    }

    .main__logo {
        font-size: 35px;
    }

    .header__link {
        font-size: 18px;
    }

    .header__icon {
        height: 20px;
        width: 20px;
    }

    .intro__title {
        padding: 0 60px;
    }

    .btn {
        font-size: 20px;
    }

}

@media (max-width: 1024px) {

    .main__logo {
        font-size: 28px;
    }

    .header__nav {
        padding: 15px 20px;
    }

    .header.active {
        padding-top: 64px;
    }

    .header__nav__fixed {
        max-width: 1024px;
    }

    .header__link {
        font-size: 12px;
        margin-left: 25px;
    }

    .icon__item {
        margin-left: 25px;
    }

    .header__icon {
        height: 14px;
        width: 14px;
    }

    .intro__title {
        font-size: 100px;
    }

    .intro__overtitle {
        font-size: 50px;
    }

    .btn {
        font-size: 12px;
    }

    .hd__footer__item {
        padding: 15px 0;
    }

    .hd__footer__txt {
        font-size: 15px;
    }

    .hd__footer__num {
        font-size: 20px;
    }

}

@media (max-width: 768px) {

    .header__nav {
        padding: 12px 0;
        max-width: 768px
    }

    .header__nav__fixed {
        padding: 12px 20px;
    }

    .header.active {
        padding-top: 51px;
    }

    .main__logo {
        font-size: 22px;
    }

    .header__icon {
        height: 18px;
        width: 18px;
    }

    .header__link {
        font-size: 12px;
        margin-left: 20px;
    }

    .icon__item {
        margin-left: 20px;
    }

    .header__icon {
        height: 12px;
        width: 12px;
    }

    .intro__title {
        font-size: 80px;
    }

    .intro__overtitle {
        font-size: 40px;
    }

    .btn {
        font-size: 10px;
    }

    .hd__footer__txt {
        font-size: 12px;
    }

    .hd__footer__item {
        padding: 12px 0;
    }

    .hd__footer__num {
        font-size: 15px;
    }
}

@media (max-width: 767px) {

    .logo {
        display: none;
    }

    .header__nav {
        max-width: 768px;
        padding: 12px 0;
    }

    .header__nav__fixed {
        padding: 12px 20px;
    }

    .header.active {
        padding-top: 60px;
    }

    .menu__wrapper {
        display: none;
    }

    .menu__icon {
        display: none;
    }

    .menu__toggle {
        display: block;
    }

    .intro__title {
        font-size: 80px;
    }

    .intro__overtitle {
        font-size: 40px;
    }

    .btn {
        font-size: 10px;
    }

    .hd__footer__txt {
        display: none;
    }

    .hd__footer__item {
        padding: 12px 0;
    }

    .hd__footer__num {
        font-size: 15px;
    }
}

@media (max-width: 625px) {

    .intro__title {
        padding: 0;
        font-size: 60px;
    }

    .itro__overtitle {
        font-size: 35px;
    }

}

@media (max-width: 425px) {

    .logo {
        display: none;
    }

    .header__nav {
        padding: 10px 0;
    }

    .header__icon {
        height: 15px;
        width: 15px;
    }

    .intro__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .intro__title::after {
        margin: 20px auto 0;
    }

    .intro__overtitle {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 8px;
        padding: 8px 20px;
        border: 2px solid #fff;
    }

    .hd__footer__item {
        padding: 8px 0;
    }

    .hd__footer__num {
        font-size: 12px;
    }
}

@media (max-width: 375px) {

    .intro__title {
        font-size: 35px;
    }

    .intro__overtitle {
        font-size: 22px;
    }
}

@media (max-width: 320px) {

    .intro__title {
        font-size: 30px;
    }

    .intro__overtitle {
        font-size: 20px;
    }
}
