*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    display: inline-block;
    margin: 0 0;
}

/* CONTAINER ===================================================== */

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* BUTTON ======================================================== */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border: 3px solid #fff;
    transition: all .3s linear;
}

.btn:hover {
    color: #fff;
    background-color: #95e1d3;
    border: 3px solid #95e1d3;
    transition: all .3s linear;
}
