// ==================================================================
// =========================stages style=============================
// ==================================================================

.stages {
    background: $bg-rg-color;
    padding: 82px 0 287px;

    position: relative;

    overflow: hidden;

    @media (max-width: 600px) {
        padding-top: 50px;
    }

    .stages-circles {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1064px;
        height: 1064px;
        border: 1px solid #235660;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        transform: translate3d(-50%, -50%, 0);

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 870px;
            height: 870px;
            border: 1px solid #235660;
            border-radius: 50%;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 684px;
                height: 684px;
                border: 1px solid #235660;
                border-radius: 50%;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 494px;
                    height: 494px;
                    border: 1px solid #235660;
                    border-radius: 50%;
                }
            }
        }
    }
}

.stages-wrapper {
    width: 100%;
    margin-top: 54px;
    position: relative;
    z-index: 1;

    @media (max-width: 768px) {
        margin-top: 30px;
    }

    .stages-location {
        width: 100%;
        display: flex;
        padding: 0 150px;

        @media (max-width: 1280px) {
            padding: 0 75px;
        }

        @media (max-width: 1024px) {
            padding: 0 25px;
        }

        @media (max-width: 768px) {
            padding: 0 0 0 17%;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 500px) {
                padding-left: 4%;
            }
        }

        .location-item {
            width: 33.33333%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            position: relative;

            @media (max-width: 768px) {
                flex-direction: row;
                width: auto;
                margin-bottom: 40px;
                text-align: left;
            }

            &.active {
                .location-number {
                    font-weight: $medium;
                    background: $main-color;
                    box-shadow: 0 0 10px $main-color;
                }

                .location-txt {

                    p {
                        font-weight: $medium;
                    }
                }
            }

            &:first-child {

                &:after {
                    content: "";
                    position: absolute;
                    top: 18.5px;
                    right: -20px;
                    display: block;
                    width: 50%;
                    height: 3px;
                    background: $main-color;

                    @media (max-width: 768px) {
                        width: 3px;
                        height: 50%;
                        left: 18.5px;
                        top: 40px;
                    }
                }
            }

            &:last-child {

                &:before {
                    content: "";
                    position: absolute;
                    top: 18.5px;
                    left: -20px;
                    display: block;
                    width: 50%;
                    height: 3px;
                    background: $main-color;

                    @media (max-width: 600px) {
                        top: 15px;
                        left: -17.5px;
                    }

                    @media (max-width: 768px) {
                        width: 3px;
                        height: 50%;
                        left: 18.5px;
                        top: -20px;
                    }
                }
            }

            &:nth-child(2) {

                &:before {
                    content: "";
                    position: absolute;
                    top: 18.5px;
                    left: -20px;
                    display: block;
                    width: 50%;
                    height: 3px;
                    background: $main-color;

                    @media (max-width: 768px) {
                        width: 3px;
                        height: 50%;
                        left: 18.5px;
                        top: -20px;
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 18.5px;
                    right: -20px;
                    display: block;
                    width: 50%;
                    height: 3px;
                    background: $main-color;

                    @media (max-width: 768px) {
                        width: 3px;
                        height: 50%;
                        left: 18.5px;
                        top: 40px;
                    }
                }
            }

            .location-number {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $main-color;
                border-radius: 50%;

                font-family: $main-font;
                font-weight: $light;
                font-size: $stage-txt-size;
                line-height: 1.34;

                color: $white;

                margin-bottom: 18px;

                @media (max-width: 768px) {
                    margin: 0 20px 0 0;
                }

                @media (max-width: 430px) {
                    margin-right: 10px;
                }
            }

            .location-txt {
                padding: 0 50px;

                @media (max-width: 768px) {
                    padding: 0;
                }

                p {
                    font-family: $main-font;
                    font-weight: $light;
                    font-size: $stage-txt-size;
                    line-height: 1.34;

                    color: $white;

                    @media (max-width: 430px) {
                        font-size: 13px;
                    }

                    @media (max-width: 370px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}