// ==================================================================
// =========================header style=============================
// ==================================================================
.header {
    position: relative;
    z-index: 1000;
    background: $white;

    .show-menu & {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba($black, .8);

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 1000;
        transform: translateX(-50%);
        width: 100vw;

        background: $white;
        box-shadow: 0 0 20px rgba($black, 1);


        animation-name: showHeader;
        animation-duration: .8s;

        @keyframes showHeader {
            0% {
                opacity: 0;
                top: -150px;
            }

            100% {
                opacity: 1;
                top: 0;
            }
        }
    }
}

.header-wrapper {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
        padding: 25px 0;
    }

    .logo {

        @media (max-width: 1200px) {
            width: 240px;
        }

        @media (max-width: 600px) {
            width: 200px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .menu {
        display: flex;
        //justify-content: center;
        align-items: center;

        @media (max-width: 992px) {
            //display: none;
            position: fixed;
            top: 90px;
            left: 100%;
            z-index: 1000;

            display: flex;
            flex-direction: column;
            text-align: center;
            height: calc(100vh - 90px);
            width: 300px;
            padding: 30px 0;

            background: $white;

            overflow: auto;

            //transform: translateX(100%);
            transition: transform .3s;

            .show-menu & {
                transform: translateX(-100%);
                transition: transform .3s;
            }

            @media (max-width: 425px) {
                width: 70%;
                min-width: 250px;
            }
        }

        .nav {
            display: flex;
            align-items: center;

            @media (max-width: 992px) {
                flex-direction: column;
                margin: auto 0;
            }

            .nav-list {
                display: flex;
                margin-right: 140px;

                @media (max-width: 1200px) {
                    margin-right: 40px;
                }

                @media (max-width: 992px) {
                    flex-direction: column;
                    margin-right: 0;
                }

                .nav-link {

                    &:nth-child(-n+2) {
                        margin: 0 30px;

                        @media (max-width: 992px) {
                            margin: 10px 0;
                        }
                    }

                    &:nth-child(n+3) {
                        margin: 0 16px 0 5px;

                        @media (max-width: 992px) {
                            margin: 10px 0;
                        }
                    }

                    &:last-child {
                        margin-left: 16px;

                        @media (max-width: 992px) {
                            margin: 10px 0;
                        }
                    }

                    @media (max-width: 992px) {
                        transform: translateX(-200%);
                        transition: .3s;

                        &.active {
                            transform: translateX(0);
                        }
                    }

                    a {
                        font-family: $main-font;
                        font-weight: $medium;
                        font-size: $nav-link-size;
                        line-height: 1.35;
                        color: $black;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            width: 0;
                            height: 2px;
                            background: $main-color;
                            transition: .3s linear;
                        }

                        &:hover:before {
                            width: 100%;
                            transition: .3s linear;
                        }

                        @media (max-width: 992px) {
                            display: flex;
                            justify-content: center;
                            padding: 12px;

                            border: 1px solid $main-color;
                            border-radius: 5px;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }

            .nav-btn {
                display: flex;
                transform: translateX(-200%);
                transition: .3s;

                @media (max-width: 992px) {
                    width: 100%;
                    margin: 10px 0;

                    &.active {
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .burger-btn {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $main-color;
        position: relative;
        z-index: 1000;

        @media (max-width: 992px) {
            display: block;
        }

        span {
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            background: $black;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 2px;
                background: $black;
                transition: .3s;
            }

            &:before {
                transform: translateY(-7px);
            }

            &:after {
                transform: translateY(7px);
            }
        }

        .show-menu & {

            span {
                height: 0;

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    //.burger-menu {
    //    display: flex;
    //    flex-direction: column;
    //    justify-content: center;
    //    align-items: center;
    //    text-align: center;
    //    height: calc(100vh - 90px);
    //    width: 300px;
    //    position: fixed;
    //    top: 90px;
    //    right: 0;
    //    z-index: 999;
    //    transform: translateX(150%);
    //    transform-origin: right center;
    //    background: $white;
    //    transition: .3s linear;
    //    transition-delay: .3s;
    //
    //    box-shadow: 0 5px 10px rgba($black, .50), 0 10px 20px rgba($black, .50);
    //
    //    overflow: hidden;
    //
    //    @media (max-width: 425px) {
    //        width: 250px;
    //    }
    //
    //    .show-menu & {
    //        transform: translateX(0);
    //        transition: .3s linear;
    //    }
    //
    //    .burger-nav {
    //        transform: translateY(150%);
    //        transform-origin: bottom center;
    //        transition-delay: .3s;
    //        transition: .3s linear;
    //
    //        .show-menu & {
    //            transform: translateY(0);
    //            transition: .3s linear;
    //            transition-delay: .3s;
    //        }
    //
    //        ul {
    //
    //            li {
    //                display: flex;
    //                flex-direction: column;
    //
    //                .burger-link {
    //                    display: flex;
    //                    align-items: center;
    //                    justify-content: center;
    //                    text-align: center;
    //                    margin: 8px 0;
    //                    padding: 10px 5px;
    //                    font-family: $main-font;
    //                    font-weight: $medium;
    //                    font-size: $burger-link-size;
    //                    line-height: 1.35;
    //                    color: $black;
    //                    border: 1px solid $black;
    //                    border-radius: 5px;
    //                }
    //
    //                .button {
    //                    border: none;
    //                    background: $main-color;
    //                    color: $white;
    //                }
    //            }
    //        }
    //    }
    //}
}