// ==================================================================
// =========================main style=============================
// ==================================================================

.main {
    overflow: hidden;

    &-active {
        padding-top: 116px; // for header fixed

        @media (max-width: 992px) {
            padding-top: 90px;
        }
    }
}