// ==================================================================
// =========================sign style==========================
// ==================================================================

.signup {
    min-height: 600px;
    height: 100%;
    background: $bg-rg-color;
}

.signup-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 100px;
}