// ==================================================================
// =========================sign style==========================
// ==================================================================

.sign {
    background: $bg-rg-color;
}

.sign-wrapper {
    min-height: calc(100vh - 116px - 228px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    @media (max-width: 600px) {
        padding: 50px 0;
    }
}