// ==================================================================
// =========================footer style==========================
// ==================================================================

.footer {
    padding: 54px 0 34px;
    background: $black;
    margin-top: auto;

    @media (max-width: 425px) {
        padding: 30px 0 10px;
    }
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    .footer-menu {
        display: flex;
        width: 70%;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
            width: 100%;
        }

        .footer-logo {
            display: flex;
            margin-bottom: 20px;

            a {
                display: block;
                max-height: 31px;

                .img-svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .footer-nav {
            display: flex;
            margin-bottom: 20px;

            .footer-nav-column {
                display: flex;
                flex-direction: column;
                margin: -4px 25px 0;

                @media (max-width: 1180px) {
                    margin-left: 15px;
                    margin-right: 15px;
                }

                ul {

                    li {
                        margin: 4px 0;

                        .footer-link {
                            font-family: $main-font;
                            font-weight: $normal;
                            font-size: $txt-size;
                            line-height: 1.31;

                            color: $white;

                            position: relative;

                            @media (max-width: 425px) {
                                font-size: 12px;
                            }

                            &:before {
                                content: "";
                                position: absolute;
                                bottom: -4px;
                                width: 0;
                                height: 2px;
                                background: $main-color;
                                transition: .3s linear;
                            }

                            &:hover:before {
                                width: 100%;
                                transition: .3s linear;
                            }
                        }
                    }
                }
            }
        }

        .footer-address {
            max-width: 267px;
            margin-bottom: 20px;
            padding: 0 10px;

            address {
                font-style: normal;

                a {
                    font-family: $main-font;
                    font-weight: $normal;
                    font-size: $txt-size;
                    line-height: 1.31;

                    color: rgba($white, .8);

                    @media (max-width: 425px) {
                        font-size: 12px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

   .footer-contacts {
       display: flex;
       width: 30%;
       justify-content: space-between;

       @media (max-width: 1024px) {
           width: 100%;
           justify-content: flex-start;
           align-items: center;
       }

       .footer-btn {
           margin-bottom: 20px;
           padding: 0 10px;
       }

       .footer-copyright {
           display: flex;
           flex-direction: column;
           max-width: 233px;
           margin-bottom: 20px;
           padding: 0 10px;

           .copyright-txt {
               margin-bottom: 18px;

               p {
                   font-family: $main-font;
                   font-weight: $normal;
                   font-size: $txt-size;
                   line-height: 1.31;

                   color: rgba($white, .8);

                   @media (max-width: 425px) {
                       font-size: 12px;
                   }
               }
           }

           .copyright-logos {
               display: flex;
               margin: 0 -8px;
               flex-wrap: wrap;

               img {
                   display: block;
                   object-fit: cover;
                   margin: 0 8px 10px;
               }
           }
       }
   }
}