// ==================================================================
// =========================form style=============================
// ==================================================================

.form-container {
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 600px) {
        bottom: -55%;
    }
}

.form-wrapper {
    padding: 50px 125px 54px 108px;

    display: flex;
    flex-direction: column;

    background: $white;

    @media (max-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 600px) {
        padding: 30px;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 27px;

        .form-input {
            width: 70%;

            display: flex;
            flex-direction: column;

            @media (max-width: 1024px) {
                width: 100%;
            }

            .input-item {
                width: 100%;
                display: flex;
                flex-direction: column;

                margin-bottom: 27px;

                .input-name {
                    font-family: $main-font;
                    font-weight: $medium;
                    font-size: $txt-size;
                    line-height: 1.31;

                    color: $black;

                    margin-bottom: 12px;
                }

                #sum-input,
                #term-input {
                    padding: 13px 24px 16px;

                    font-family: $main-font;
                    font-weight: $medium;
                    font-size: $calc-sum-size;
                    line-height: 1.32;

                    color: $black;

                    border: 1px solid #E4ECEE;
                    border-radius: 5px;

                    margin-bottom: 12px;

                    @media (max-width: 768px) {
                        font-size: 22px;
                    }

                    @media (max-width: 450px) {
                        font-size: 20px;
                    }
                }

                .ui-slider {
                    top: -13px;
                    height: 2px;

                    border: none;

                    background: $main-color;
                }

                .ui-state-default {
                    top: -10px;
                    display: block;
                    width: 23px;
                    height: 23px;
                    background: $white;
                    background-clip: padding-box;

                    border-radius: 50%;
                    border: 8px solid $main-color;
                    box-shadow: 0 0 12px $main-color, 0 0 12px $main-color;
                    cursor: pointer;

                    transform: translateX(-5px);
                }

                .ui-state-hover,
                .ui-state-active {
                    box-shadow: 0 0 18px $main-color, 0 0 18px $main-color;
                }

                .ui-state-focus,
                .ui-state-active {
                    outline: none;
                }

                .input-sums,
                .input-terms {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-family: $main-font;
                        font-weight: $light;
                        font-size: $txt-size;
                        line-height: 1.31;

                        color: $black;
                    }
                }
            }
        }

        .form-submit {
            width: 30%;
            padding-top: 54px;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: center;

            @media (max-width: 1024px) {
                width: 100%;
                padding-top: 0;
                align-items: flex-start;
            }

            .submit-wrapper {

                @media (max-width: 1024px) {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }

                @media (max-width: 450px) {
                    flex-direction: column;
                }

                .submit-info {
                    padding-bottom: 33px;
                    margin-bottom: 38px;
                    border-bottom: 3px solid $black;

                    @media (max-width: 1024px) {
                        margin-bottom: 0;
                        padding-bottom: 15px;
                    }

                    @media (max-width: 450px) {
                        align-self: center;
                        margin-bottom: 20px;
                    }

                    .submit-txt {
                        margin-bottom: 11px;

                        p {
                            font-family: $main-font;
                            font-weight: $medium;
                            font-size: $txt-size;
                            line-height: 1.31;

                            color: $black;
                        }
                    }

                    .submit-value {

                        p {
                            font-family: $main-font;
                            font-weight: $medium;
                            font-size: $calc-sum-size;
                            line-height: 1.32;

                            color: $black;

                            @media (max-width: 768px) {
                                font-size: 22px;
                            }

                            @media (max-width: 450px) {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}