*, *:before, *:after { box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { background: #ffffff; font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 13px; line-height: 1; color: #000000; }

a { text-decoration: none; color: #000000; }

ol, ul { list-style: none; }

.btn { padding: 13px 35px 15px 34px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; background: #0ed193; border-radius: 5px; }

.btn p { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 15px; line-height: 1.333; text-align: center; color: #ffffff; margin-right: 10px; }

.btn img { height: 16px; }

.btn--big { padding: 16px 33px 20px; }

.btn:hover { background: #09c58a; }

.container { width: 100%; max-width: 1320px; padding: 0 20px; margin: 0 auto; }

@font-face { font-family: 'Red Ring'; src: url("../fonts/RedRing-Light.eot"); src: local("Red Ring Light"), local("RedRing-Light"), url("../fonts/RedRing-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RedRing-Light.woff2") format("woff2"), url("../fonts/RedRing-Light.woff") format("woff"), url("../fonts/RedRing-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Red Ring'; src: url("../fonts/RedRing-Medium.eot"); src: local("Red Ring Medium"), local("RedRing-Medium"), url("../fonts/RedRing-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/RedRing-Medium.woff2") format("woff2"), url("../fonts/RedRing-Medium.woff") format("woff"), url("../fonts/RedRing-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Red Ring'; src: url("../fonts/RedRing-Regular.eot"); src: local("Red Ring Regular"), local("RedRing-Regular"), url("../fonts/RedRing-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RedRing-Regular.woff2") format("woff2"), url("../fonts/RedRing-Regular.woff") format("woff"), url("../fonts/RedRing-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.header-wrapper { padding: 34px 0; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

@media (max-width: 992px) { .header-wrapper { padding: 25px 0; } }

@media (max-width: 1200px) { .header-wrapper .logo { width: 240px; } }

@media (max-width: 600px) { .header-wrapper .logo { width: 200px; } }

.header-wrapper .logo img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.header-wrapper .menu { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 992px) { .header-wrapper .menu { display: none; } }

.header-wrapper .menu .nav { margin-right: 140px; }

@media (max-width: 1200px) { .header-wrapper .menu .nav { margin-right: 40px; } }

.header-wrapper .menu .nav ul li .nav-link { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 14px; line-height: 1.35; color: #000000; position: relative; }

.header-wrapper .menu .nav ul li .nav-link:nth-child(-n+2) { margin: 0 30px; }

@media (max-width: 1200px) { .header-wrapper .menu .nav ul li .nav-link:nth-child(-n+2) { margin: 15px; } }

.header-wrapper .menu .nav ul li .nav-link:nth-child(n+3) { margin: 0 16px 0 5px; }

.header-wrapper .menu .nav ul li .nav-link:last-child { margin-left: 16px; }

.header-wrapper .menu .nav ul li .nav-link:before { content: ""; position: absolute; bottom: -1px; width: 0; height: 2px; background: #0ed193; transition: .3s linear; }

.header-wrapper .menu .nav ul li .nav-link:hover:before { width: 100%; transition: .3s linear; }

.header-wrapper .burger-btn { display: none; width: 40px; height: 40px; border-radius: 50%; background: #0ed193; position: relative; z-index: 1000; }

@media (max-width: 992px) { .header-wrapper .burger-btn { display: block; } }

.header-wrapper .burger-btn span { display: block; position: absolute; width: 20px; height: 2px; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0); background: #000000; }

.header-wrapper .burger-btn span:before, .header-wrapper .burger-btn span:after { content: ""; display: block; position: absolute; width: 20px; height: 2px; background: #000000; transition: .3s; }

.header-wrapper .burger-btn span:before { -ms-transform: translateY(-7px); transform: translateY(-7px); }

.header-wrapper .burger-btn span:after { -ms-transform: translateY(7px); transform: translateY(7px); }

.header-wrapper .burger-btn-active { border: 1px solid #000000; }

.header-wrapper .burger-btn-active span { height: 0; }

.header-wrapper .burger-btn-active span:before { -ms-transform: rotate(45deg); transform: rotate(45deg); }

.header-wrapper .burger-btn-active span:after { -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.header-wrapper .burger-menu { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; height: 100%; width: 300px; position: absolute; right: 0; top: 0; -ms-transform: translateX(100%); transform: translateX(100%); -ms-transform-origin: right center; transform-origin: right center; background: #0ed193; transition: .3s linear; transition-delay: .3s; }

@media (max-width: 600px) { .header-wrapper .burger-menu { width: 50%; } }

@media (max-width: 400px) { .header-wrapper .burger-menu { width: 70%; } }

.header-wrapper .burger-menu-active { -ms-transform: translateX(0); transform: translateX(0); transition: .3s linear; }

.header-wrapper .burger-menu .burger-nav { -ms-transform: translateY(150%); transform: translateY(150%); -ms-transform-origin: bottom center; transform-origin: bottom center; transition-delay: .3s; transition: .3s linear; }

.header-wrapper .burger-menu .burger-nav-active { -ms-transform: translateY(0); transform: translateY(0); transition: .3s linear; transition-delay: .3s; }

.header-wrapper .burger-menu .burger-nav ul li { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.header-wrapper .burger-menu .burger-nav ul li .burger-link { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; text-align: center; margin: 8px 0; padding: 10px 5px; font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 16px; line-height: 1.35; color: #000000; border: 1px solid #000000; border-radius: 5px; }

.header-wrapper .burger-menu .burger-nav ul li .button { color: #ffffff; border-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
