*, *:before, *:after { box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { background: #ffffff; font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 13px; line-height: 1; color: #000000; }

a { text-decoration: none; color: #000000; }

ol, ul { list-style: none; }

.btn { padding: 13px 35px 15px 34px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; background: #0ed193; border-radius: 5px; font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 15px; line-height: 1.35; text-align: center; color: #ffffff; }

.btn p { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 15px; line-height: 1.35; text-align: center; color: #ffffff; margin-right: 10px; }

.btn img { height: 16px; }

.btn--big { padding: 16px 33px 20px; }

@media (max-width: 500px) { .btn--big { font-size: 14px; padding: 12px 30px; } }

.btn:hover { background: #09c58a; }

.container { width: 100%; max-width: 1320px; padding: 0 20px; margin: 0 auto; }

@font-face { font-family: 'Red Ring'; src: url("../fonts/RedRing-Light.eot"); src: local("Red Ring Light"), local("RedRing-Light"), url("../fonts/RedRing-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RedRing-Light.woff2") format("woff2"), url("../fonts/RedRing-Light.woff") format("woff"), url("../fonts/RedRing-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Red Ring'; src: url("../fonts/RedRing-Medium.eot"); src: local("Red Ring Medium"), local("RedRing-Medium"), url("../fonts/RedRing-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/RedRing-Medium.woff2") format("woff2"), url("../fonts/RedRing-Medium.woff") format("woff"), url("../fonts/RedRing-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Red Ring'; src: url("../fonts/RedRing-Regular.eot"); src: local("Red Ring Regular"), local("RedRing-Regular"), url("../fonts/RedRing-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RedRing-Regular.woff2") format("woff2"), url("../fonts/RedRing-Regular.woff") format("woff"), url("../fonts/RedRing-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.general-title { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; text-align: center; }

.general-title h2 { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 35px; line-height: 1.35; color: #000000; }

@media (max-width: 768px) { .general-title h2 { font-size: 30px; } }

@media (max-width: 600px) { .general-title h2 { font-size: 27px; } }

@media (max-width: 425px) { .general-title h2 { font-size: 25px; } }

.general-title--white h2 { color: #ffffff; }

.header { overflow: hidden; }

.header-wrapper { padding: 34px 0; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

@media (max-width: 992px) { .header-wrapper { padding: 25px 0; } }

@media (max-width: 1200px) { .header-wrapper .logo { width: 240px; } }

@media (max-width: 600px) { .header-wrapper .logo { width: 200px; } }

.header-wrapper .logo img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.header-wrapper .menu { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 992px) { .header-wrapper .menu { display: none; } }

.header-wrapper .menu .nav { margin-right: 140px; }

@media (max-width: 1200px) { .header-wrapper .menu .nav { margin-right: 40px; } }

.header-wrapper .menu .nav ul li .nav-link { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 14px; line-height: 1.35; color: #000000; position: relative; }

.header-wrapper .menu .nav ul li .nav-link:nth-child(-n+2) { margin: 0 30px; }

@media (max-width: 1200px) { .header-wrapper .menu .nav ul li .nav-link:nth-child(-n+2) { margin: 15px; } }

.header-wrapper .menu .nav ul li .nav-link:nth-child(n+3) { margin: 0 16px 0 5px; }

.header-wrapper .menu .nav ul li .nav-link:last-child { margin-left: 16px; }

.header-wrapper .menu .nav ul li .nav-link:before { content: ""; position: absolute; bottom: -1px; width: 0; height: 2px; background: #0ed193; transition: .3s linear; }

.header-wrapper .menu .nav ul li .nav-link:hover:before { width: 100%; transition: .3s linear; }

.header-wrapper .burger-btn { display: none; width: 40px; height: 40px; border-radius: 50%; background: #0ed193; position: relative; z-index: 1000; }

@media (max-width: 992px) { .header-wrapper .burger-btn { display: block; } }

.header-wrapper .burger-btn span { display: block; position: absolute; width: 20px; height: 2px; left: 50%; top: 50%; transform: translate3d(-50%, -50%, 0); background: #000000; }

.header-wrapper .burger-btn span:before, .header-wrapper .burger-btn span:after { content: ""; display: block; position: absolute; width: 20px; height: 2px; background: #000000; transition: .3s; }

.header-wrapper .burger-btn span:before { -ms-transform: translateY(-7px); transform: translateY(-7px); }

.header-wrapper .burger-btn span:after { -ms-transform: translateY(7px); transform: translateY(7px); }

.header-wrapper .burger-btn-active { border: 1px solid #000000; }

.header-wrapper .burger-btn-active span { height: 0; }

.header-wrapper .burger-btn-active span:before { -ms-transform: rotate(45deg); transform: rotate(45deg); }

.header-wrapper .burger-btn-active span:after { -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.header-wrapper .burger-menu { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; height: 100%; width: 300px; position: fixed; right: 0; top: 0; z-index: 999; -ms-transform: translateX(100%); transform: translateX(100%); -ms-transform-origin: right center; transform-origin: right center; background: #0ed193; transition: .3s linear; transition-delay: .3s; }

@media (max-width: 600px) { .header-wrapper .burger-menu { width: 50%; } }

@media (max-width: 400px) { .header-wrapper .burger-menu { width: 70%; } }

.header-wrapper .burger-menu-active { -ms-transform: translateX(0); transform: translateX(0); transition: .3s linear; }

.header-wrapper .burger-menu .burger-nav { -ms-transform: translateY(150%); transform: translateY(150%); -ms-transform-origin: bottom center; transform-origin: bottom center; transition-delay: .3s; transition: .3s linear; }

.header-wrapper .burger-menu .burger-nav-active { -ms-transform: translateY(0); transform: translateY(0); transition: .3s linear; transition-delay: .3s; }

.header-wrapper .burger-menu .burger-nav ul li { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.header-wrapper .burger-menu .burger-nav ul li .burger-link { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; text-align: center; margin: 8px 0; padding: 10px 5px; font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 16px; line-height: 1.35; color: #000000; border: 1px solid #000000; border-radius: 5px; }

.header-wrapper .burger-menu .burger-nav ul li .button { color: #ffffff; border-color: #ffffff; }

.intro { background: radial-gradient(70% 380% at 6% 10%, #0a2e37 36%, #000000 100%); position: relative; overflow: hidden; }

.intro .intro-top-circles { position: absolute; top: -50%; right: -12%; z-index: 0; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; width: 670px; height: 670px; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-top-circles { width: 600px; height: 600px; right: -27%; } }

@media (max-width: 768px) { .intro .intro-top-circles { width: 400px; height: 400px; top: -40%; right: -27%; } }

@media (max-width: 600px) { .intro .intro-top-circles { top: -30%; } }

@media (max-width: 500px) { .intro .intro-top-circles { width: 300px; height: 300px; } }

@media (max-width: 425px) { .intro .intro-top-circles { top: -32%; right: -32%; } }

@media (max-width: 340px) { .intro .intro-top-circles { top: -37%; right: -43%; } }

.intro .intro-top-circles div { width: 537px; height: 537px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-top-circles div { width: 450px; height: 450px; } }

@media (max-width: 768px) { .intro .intro-top-circles div { width: 300px; height: 300px; } }

@media (max-width: 500px) { .intro .intro-top-circles div { width: 225px; height: 225px; } }

.intro .intro-top-circles div div { width: 401px; height: 401px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-top-circles div div { width: 300px; height: 300px; } }

@media (max-width: 768px) { .intro .intro-top-circles div div { width: 200px; height: 200px; } }

@media (max-width: 500px) { .intro .intro-top-circles div div { width: 150px; height: 150px; } }

.intro .intro-top-circles div div div { width: 262px; height: 262px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-top-circles div div div { width: 200px; height: 200px; } }

@media (max-width: 768px) { .intro .intro-top-circles div div div { width: 100px; height: 100px; } }

@media (max-width: 500px) { .intro .intro-top-circles div div div { width: 75px; height: 75px; } }

.intro .intro-bottom-circles { position: absolute; bottom: -50%; left: -19%; z-index: 0; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; width: 716px; height: 716px; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-bottom-circles { width: 600px; height: 600px; left: -27%; } }

@media (max-width: 768px) { .intro .intro-bottom-circles { width: 400px; height: 400px; left: -27%; bottom: -40%; } }

@media (max-width: 600px) { .intro .intro-bottom-circles { bottom: -30%; } }

@media (max-width: 500px) { .intro .intro-bottom-circles { width: 300px; height: 300px; } }

@media (max-width: 425px) { .intro .intro-bottom-circles { left: -32%; bottom: -32%; } }

@media (max-width: 340px) { .intro .intro-bottom-circles { left: -43%; bottom: -37%; } }

.intro .intro-bottom-circles div { width: 586px; height: 586px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-bottom-circles div { width: 500px; height: 500px; } }

@media (max-width: 768px) { .intro .intro-bottom-circles div { width: 300px; height: 300px; } }

@media (max-width: 500px) { .intro .intro-bottom-circles div { width: 225px; height: 225px; } }

.intro .intro-bottom-circles div div { width: 460px; height: 460px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-bottom-circles div div { width: 400px; height: 400px; } }

@media (max-width: 768px) { .intro .intro-bottom-circles div div { width: 200px; height: 200px; } }

@media (max-width: 500px) { .intro .intro-bottom-circles div div { width: 150px; height: 150px; } }

.intro .intro-bottom-circles div div div { width: 332px; height: 332px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; border: 1px solid #235660; }

@media (max-width: 1024px) { .intro .intro-bottom-circles div div div { width: 300px; height: 300px; } }

@media (max-width: 768px) { .intro .intro-bottom-circles div div div { width: 100px; height: 100px; } }

@media (max-width: 500px) { .intro .intro-bottom-circles div div div { width: 75px; height: 75px; } }

.intro-wrapper { padding: 75px 0 135px; position: relative; z-index: 1; }

@media (max-width: 768px) { .intro-wrapper { padding: 50px 0; } }

.intro-wrapper .intro-logos { display: -ms-flexbox; display: flex; position: absolute; top: 50px; right: 0; }

@media (max-width: 500px) { .intro-wrapper .intro-logos { display: none; } }

.intro-wrapper .intro-logos img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; margin: 0 10px; }

.intro-wrapper .intro-nav { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; margin-bottom: 83px; }

@media (max-width: 768px) { .intro-wrapper .intro-nav { margin-bottom: 60px; } }

@media (max-width: 500px) { .intro-wrapper .intro-nav { margin-bottom: 40px; } }

.intro-wrapper .intro-nav-link { padding: 0 22px; }

.intro-wrapper .intro-nav-link:not(:last-child) { border-right: 1px solid #0ed193; }

.intro-wrapper .intro-nav-link:first-child { padding-left: 0; }

.intro-wrapper .intro-nav-link .intro-nav-btn { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 16px; line-height: 1.3; position: relative; color: #ffffff; }

@media (max-width: 600px) { .intro-wrapper .intro-nav-link .intro-nav-btn { font-size: 14px; } }

.intro-wrapper .intro-nav-link .intro-nav-btn.active:before, .intro-wrapper .intro-nav-link .intro-nav-btn.active:after { content: ""; display: block; width: 6px; height: 2px; background: #ffffff; position: absolute; bottom: -10px; }

.intro-wrapper .intro-nav-link .intro-nav-btn.active:before { left: 50%; -ms-transform-origin: bottom center; transform-origin: bottom center; -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.intro-wrapper .intro-nav-link .intro-nav-btn.active:after { right: 50%; -ms-transform-origin: bottom center; transform-origin: bottom center; -ms-transform: rotate(45deg); transform: rotate(45deg); }

.intro-wrapper .intro-info { padding-right: 420px; margin-bottom: 36px; }

@media (max-width: 1024px) { .intro-wrapper .intro-info { padding-right: 250px; } }

@media (max-width: 768px) { .intro-wrapper .intro-info { padding-right: 0; } }

@media (max-width: 500px) { .intro-wrapper .intro-info { margin-bottom: 20px; } }

.intro-wrapper .intro-info .intro-title { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 75px; line-height: 1.14; color: #ffffff; margin-bottom: 36px; }

@media (max-width: 1200px) { .intro-wrapper .intro-info .intro-title { font-size: 60px; } }

@media (max-width: 1024px) { .intro-wrapper .intro-info .intro-title { font-size: 50px; } }

@media (max-width: 768px) { .intro-wrapper .intro-info .intro-title { margin-bottom: 50px; } }

@media (max-width: 600px) { .intro-wrapper .intro-info .intro-title { font-size: 40px; } }

@media (max-width: 500px) { .intro-wrapper .intro-info .intro-title { margin-bottom: 30px; } }

@media (max-width: 425px) { .intro-wrapper .intro-info .intro-title { font-size: 30px; } }

@media (max-width: 340px) { .intro-wrapper .intro-info .intro-title { font-size: 25px; } }

.intro-wrapper .intro-info .intro-txt { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; margin-left: -19px; }

@media (max-width: 768px) { .intro-wrapper .intro-info .intro-txt { -ms-flex-direction: column; flex-direction: column; } }

.intro-wrapper .intro-info .intro-txt p { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; font-family: "Red Ring", sans-serif; font-weight: 400; font-size: 19px; line-height: 1.32; padding: 0 19px 15px; color: #ffffff; }

@media (max-width: 1024px) { .intro-wrapper .intro-info .intro-txt p { font-size: 14px; } }

@media (max-width: 768px) { .intro-wrapper .intro-info .intro-txt p { font-size: 20px; margin-bottom: 20px; } }

@media (max-width: 600px) { .intro-wrapper .intro-info .intro-txt p { font-size: 16px; margin-bottom: 10px; } }

@media (max-width: 500px) { .intro-wrapper .intro-info .intro-txt p { margin-bottom: 0; } }

@media (max-width: 425px) { .intro-wrapper .intro-info .intro-txt p { font-size: 14px; } }

.intro-wrapper .intro-info .intro-txt p:before { content: ""; display: block; width: 8px; height: 8px; margin-right: 11px; border-radius: 50%; background: #0ed193; }

.intro-wrapper .intro-btn { display: -ms-flexbox; display: flex; }

.intro-wrapper .intro-img { display: -ms-flexbox; display: flex; position: absolute; right: -5%; bottom: 0; }

@media (max-width: 1350px) { .intro-wrapper .intro-img { right: -15%; } }

@media (max-width: 1024px) { .intro-wrapper .intro-img { right: -30%; } }

@media (max-width: 900px) { .intro-wrapper .intro-img { right: -42%; } }

@media (max-width: 768px) { .intro-wrapper .intro-img { right: -48%; } }

@media (max-width: 700px) { .intro-wrapper .intro-img { right: -53%; } }

@media (max-width: 650px) { .intro-wrapper .intro-img { right: -57%; } }

@media (max-width: 600px) { .intro-wrapper .intro-img { right: -75%; } }

@media (max-width: 550px) { .intro-wrapper .intro-img { right: -88%; } }

@media (max-width: 500px) { .intro-wrapper .intro-img { right: -105%; } }

@media (max-width: 460px) { .intro-wrapper .intro-img { right: -115%; } }

@media (max-width: 440px) { .intro-wrapper .intro-img { right: -122%; } }

@media (max-width: 425px) { .intro-wrapper .intro-img { right: -137%; } }

@media (max-width: 400px) { .intro-wrapper .intro-img { display: none; } }

.intro-wrapper .intro-img img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

@media (max-width: 1350px) { .intro-wrapper .intro-img img { width: 80%; height: 80%; } }

@media (max-width: 1024px) { .intro-wrapper .intro-img img { width: 70%; height: 70%; } }

@media (max-width: 900px) { .intro-wrapper .intro-img img { width: 60%; height: 60%; } }

@media (max-width: 600px) { .intro-wrapper .intro-img img { width: 50%; height: 50%; } }

@media (max-width: 550px) { .intro-wrapper .intro-img img { width: 45%; height: 45%; } }

@media (max-width: 500px) { .intro-wrapper .intro-img img { width: 40%; height: 40%; } }

@media (max-width: 425px) { .intro-wrapper .intro-img img { width: 33%; height: 33%; } }

.benefits-wrapper { padding: 60px 0 45px; }

.benefits-wrapper .benefits-content { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; margin: 37px -10px 0; }

@media (max-width: 768px) { .benefits-wrapper .benefits-content { margin-left: 0; margin-right: 0; } }

.benefits-wrapper .benefits-content .benefits-item { display: -ms-flexbox; display: flex; width: 33.33333%; padding: 0 10px; margin-bottom: 20px; }

@media (max-width: 1024px) { .benefits-wrapper .benefits-content .benefits-item { width: 50%; } }

@media (max-width: 768px) { .benefits-wrapper .benefits-content .benefits-item { width: 100%; } }

.benefits-wrapper .benefits-content .benefits-item-wrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; padding: 41px 70px 48px 50px; background: #F0F5F6; }

@media (max-width: 768px) { .benefits-wrapper .benefits-content .benefits-item-wrapper { -ms-flex-align: center; align-items: center; text-align: center; } }

@media (max-width: 600px) { .benefits-wrapper .benefits-content .benefits-item-wrapper { padding: 30px; } }

.benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-title { margin-bottom: 19px; }

.benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-title h3 { font-family: "Red Ring", sans-serif; font-weight: 500; font-size: 25px; line-height: 1.32; color: #000000; }

@media (max-width: 600px) { .benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-title h3 { font-size: 22px; } }

@media (max-width: 425px) { .benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-title h3 { font-size: 20px; } }

@media (max-width: 768px) { .benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-txt { -ms-flex-align: center; align-items: center; text-align: center; } }

.benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-txt p { font-family: "Red Ring", sans-serif; font-weight: 300; font-size: 13px; line-height: 1.31; color: #000000; }

@media (max-width: 768px) { .benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-txt p { font-size: 15px; } }

@media (max-width: 600px) { .benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-txt p { font-size: 14px; } }

@media (max-width: 425px) { .benefits-wrapper .benefits-content .benefits-item-wrapper .benefits-item-txt p { font-size: 13px; } }

/*# sourceMappingURL=style.css.map */
