// ==================================================================
// =========================header style=============================
// ==================================================================

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100%;

    overflow: hidden;

    opacity: 1;
    visibility: visible;

    transition: 1s all;

    background: $black;

    &.done {
        opacity: 0;
        visibility: hidden;
    }

    //@media (max-width: 992px) {
    //    display: none;
    //}

    &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1011;
        transform: translate(-50%, -50%);
        background: transparent;
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .percent {
            width: 150px;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border-radius: 50%;

            position: relative;

            margin-bottom: 40px;

            svg {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1012;

                @media (max-width: 992px) {
                    display: none;
                }

                circle {
                    width: 100%;
                    height: 100%;
                    fill: none;
                    stroke: #191919;
                    stroke-width: 8;
                    stroke-linecap: round;
                    transform: translate(5px, 5px);

                    &:nth-child(2) {
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440; //calc(440 - (440 * ...%) / 100)
                        //stroke-dashoffset: 66;
                        stroke: $main-color;
                    }
                }
            }

            .number {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1013;

                span {
                    display: block;

                    font-family: $main-font;
                    font-weight: $medium;
                    font-size: 40px;
                    line-height: 1;

                    color: $main-color;
                }
            }
        }

        .loader {
            position: relative;
            display: flex;

            .dot {
                position: relative;
                display: block;
                width: 20px;
                height: 20px;
                background: $main-color;
                box-shadow: 0 0 10px $main-color,
                            0 0 20px $main-color,
                            0 0 30px $main-color,
                            0 0 40px $main-color;
                border-radius: 50%;
                margin: 10px 10px;

                transform: scale(.3);

                animation: animateDot 1.5s linear infinite;
                animation-delay: calc(.15s * var(--i));

                @keyframes animateDot {
                    0% {
                        transform: scale(.3);
                    }
                    10% {
                        transform: scale(1);
                    }
                    50%, 100% {
                        transform: scale(.3);
                    }
                }

                @media (max-width: 425px) {
                    width: 14px;
                    height: 14px;
                    margin: 7px 7px;
                }
            }

            &:last-child {

                .dot {
                    animation-delay: calc(-.15s * var(--i));
                }
            }
        }

        h2 {
            font-family: $main-font;
            font-size: 30px;
            font-weight: $medium;
            line-height: 1;
            color: $main-color;
        }
    }
}